@import "reset.css";

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #3e4248;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
    width: 100vw;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page_name{
    box-sizing: border-box;
    width: 100vw;
    padding: 10px;
    border-bottom: 1px solid rgb(40, 40, 40);
    font-size:40px;
    color: white;
    font-family: Trebuchet MS;
    cursor: pointer;
}

.page_date{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    margin-top: 30px;
}

.page_day{
    margin-bottom: 20px;
    font-size:35px;
    color: white;
    font-family: Verdana;
}

.page_year{
    font-size:16px;
    color: #5A5F67;
    font-family: Verdana;
}

.add_list{
    position:absolute;
    right: 20px;
    top: 134px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add_list_img{
    width: 35px;
    height: 35px;
    transition: transform 0.2s;
    transform-origin: center; 
}

.add_list_img:hover {
    transform: scale(1.0857);
    cursor: pointer;
}

.add_form {
    width: 70vw;
    height: 100px;
    padding: 0px 30px 0px 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #37393c;
    border-radius: 10px;
}

.add_input {
    height: 100px;
    display: flex;
    justify-content:space-evenly;
    align-items: start;
    flex-direction: column;
}

.add_title {
    border: none;
    background: none;
    outline: none;
    width: 20vw;
    height: 25px;
    border-radius: 5px;
    background-color: #2e2e30;
    font-size: 20px;
    padding: 5px;
}

.add_descript {
    border: none;
    background: none;
    outline: none;
    resize: none;
    width: 60vw;
    height: 25px;
    border-radius: 5px;
    background-color: #2e2e30;
    font-size: 20px;
    padding: 5px;
}