<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TO-DO list</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <header>
      <div class="page_name">To-Do List</div>
      <div class="page_date">
        <div class="page_day">Monday</div>
        <div class="page_year">Mar 11, 2025</div>
      </div>
      <div class="add_list">
        <img src="/static/assets/plus.svg" class="add_list_img" />
      </div>
      <div class="complete_butt">
        <button id="toggle_completed">Hide Completed</button>
      </div>
    </header>
    <main></main>
    <footer></footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
    <script src="/static/js/index.js"></script>
  </body>
</html>
